src/__pycache__/SdiArgumentsChecker.cpython-38.pyc
src/__pycache__/SdiErrorsCollector.cpython-38.pyc
src/__pycache__/SdiInterfaceBuilder.cpython-38.pyc
src/__pycache__/SdiInterfaceParser.cpython-38.pyc
src/__pycache__/SdiRegexConstants.cpython-38.pyc
src/prueba.sdi
